In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [11]:
dates = pd.date_range('20200901', periods=10)
dates

DatetimeIndex(['2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06', '2020-09-07', '2020-09-08',
               '2020-09-09', '2020-09-10'],
              dtype='datetime64[ns]', freq='D')

pandas.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)

Parameters
    start 生成日期的左端
    end 生成日期的右端
    periods 天数。start+periods

Returns
    DatetimeIndex

In [12]:
df = pd.DataFrame(np.random.randn(10,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-09-01  0.132597 -0.632046 -1.853519 -1.137503
2020-09-02 -0.092867  0.630690 -1.704587  0.369564
2020-09-03 -1.218302  0.305480 -0.392584  0.474873
2020-09-04 -1.078367  0.712087 -1.230490 -1.505200
2020-09-05  0.092051 -0.839207  0.464028 -0.037818
2020-09-06 -0.084488 -0.700257 -0.557167 -0.871776
2020-09-07 -1.026934 -0.618369  0.726561  0.230464
2020-09-08 -2.141185 -1.052132 -1.300570  1.647077
2020-09-09  2.588955 -0.561440 -0.481855 -1.079617
2020-09-10 -0.053322  0.284110 -1.441378  1.699712

numpy.random.randn(d0, d1, ..., dn)

In [13]:
df.head()

                   A         B         C         D
2020-09-01  0.132597 -0.632046 -1.853519 -1.137503
2020-09-02 -0.092867  0.630690 -1.704587  0.369564
2020-09-03 -1.218302  0.305480 -0.392584  0.474873
2020-09-04 -1.078367  0.712087 -1.230490 -1.505200
2020-09-05  0.092051 -0.839207  0.464028 -0.037818

df.head() 显示开头的5条数据
函数也可指定N条数据

In [15]:
df.head(1)

                   A         B         C         D
2020-09-01  0.132597 -0.632046 -1.853519 -1.137503

In [14]:
df.tail()

                   A         B         C         D
2020-09-06 -0.084488 -0.700257 -0.557167 -0.871776
2020-09-07 -1.026934 -0.618369  0.726561  0.230464
2020-09-08 -2.141185 -1.052132 -1.300570  1.647077
2020-09-09  2.588955 -0.561440 -0.481855 -1.079617
2020-09-10 -0.053322  0.284110 -1.441378  1.699712

df.tail() 显示末尾5条数据
函数也可指定N条数据

In [16]:
df.tail(1)

                   A        B         C         D
2020-09-10 -0.053322  0.28411 -1.441378  1.699712

In [17]:
df.index

DatetimeIndex(['2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06', '2020-09-07', '2020-09-08',
               '2020-09-09', '2020-09-10'],
              dtype='datetime64[ns]', freq='D')

df.index 显示索引

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

df.columns 显示列

In [19]:
df.values

array([[ 0.13259744, -0.63204564, -1.8535189 , -1.13750334],
       [-0.09286683,  0.63069013, -1.7045869 ,  0.36956394],
       [-1.21830213,  0.30547974, -0.39258421,  0.47487325],
       [-1.07836661,  0.71208732, -1.23048965, -1.50519956],
       [ 0.09205078, -0.83920709,  0.46402817, -0.03781812],
       [-0.08448815, -0.70025706, -0.55716697, -0.87177637],
       [-1.02693356, -0.6183694 ,  0.72656131,  0.23046376],
       [-2.14118502, -1.05213246, -1.30057023,  1.64707689],
       [ 2.58895545, -0.56144017, -0.48185501, -1.07961734],
       [-0.05332171,  0.28411022, -1.4413784 ,  1.69971244]])

df.values 显示值

In [20]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.288186  -0.247108  -0.777156  -0.021022
std     1.256240   0.655484   0.883462   1.130349
min    -2.141185  -1.052132  -1.853519  -1.505200
25%    -1.065508  -0.683204  -1.406176  -1.027657
50%    -0.088677  -0.589905  -0.893828   0.096323
75%     0.055708   0.300137  -0.414902   0.448546
max     2.588955   0.712087   0.726561   1.699712

df.describe()  快速统计汇总数据

In [21]:
df.T

,2020-09-01,2020-09-02,2020-09-03,2020-09-04,2020-09-05,2020-09-06,2020-09-07,2020-09-08,2020-09-09,2020-09-10
A,0.132597,-0.092867,-1.218302,-1.078367,0.092051,-0.084488,-1.026934,-2.141185,2.588955,-0.053322
B,-0.632046,0.630690,0.305480,0.712087,-0.839207,-0.700257,-0.618369,-1.052132,-0.561440,0.284110
C,-1.853519,-1.704587,-0.392584,-1.230490,0.464028,-0.557167,0.726561,-1.300570,-0.481855,-1.441378
D,-1.137503,0.369564,0.474873,-1.505200,-0.037818,-0.871776,0.230464,1.647077,-1.079617,1.699712

df.T 对数据转置

In [26]:
df.sort_index(axis=1)

                   A         B         C         D
2020-09-01  0.132597 -0.632046 -1.853519 -1.137503
2020-09-02 -0.092867  0.630690 -1.704587  0.369564
2020-09-03 -1.218302  0.305480 -0.392584  0.474873
2020-09-04 -1.078367  0.712087 -1.230490 -1.505200
2020-09-05  0.092051 -0.839207  0.464028 -0.037818
2020-09-06 -0.084488 -0.700257 -0.557167 -0.871776
2020-09-07 -1.026934 -0.618369  0.726561  0.230464
2020-09-08 -2.141185 -1.052132 -1.300570  1.647077
2020-09-09  2.588955 -0.561440 -0.481855 -1.079617
2020-09-10 -0.053322  0.284110 -1.441378  1.699712

df.sort_index 按轴进行排序
axis = 0 为纵轴
axis = 1 为横轴
默认为升序，若要降序，则添加参数 ascending=False

In [27]:
df.sort_values(by='B')

                   A         B         C         D
2020-09-08 -2.141185 -1.052132 -1.300570  1.647077
2020-09-05  0.092051 -0.839207  0.464028 -0.037818
2020-09-06 -0.084488 -0.700257 -0.557167 -0.871776
2020-09-01  0.132597 -0.632046 -1.853519 -1.137503
2020-09-07 -1.026934 -0.618369  0.726561  0.230464
2020-09-09  2.588955 -0.561440 -0.481855 -1.079617
2020-09-10 -0.053322  0.284110 -1.441378  1.699712
2020-09-03 -1.218302  0.305480 -0.392584  0.474873
2020-09-02 -0.092867  0.630690 -1.704587  0.369564
2020-09-04 -1.078367  0.712087 -1.230490 -1.505200

df.sort_values  按值排序
by 参数指定列
默认升序

In [7]:
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20200802'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3]*4, dtype='int32'),
    'E': pd.Categorical(['test', 'train', 'test', 'train']),
    'F': 'foo'
})
df2

     A          B    C  D      E    F
0  1.0 2020-08-02  1.0  3   test  foo
1  1.0 2020-08-02  1.0  3  train  foo
2  1.0 2020-08-02  1.0  3   test  foo
3  1.0 2020-08-02  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object